.list-item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
  height: auto;
  padding: 9px;
}
.title-domain-image-container {
  display: flex;
  flex-direction: row;
  min-height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.domain-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  align-items: flex-start;
  padding: 0px;
  margin: 2px;
}
.image-domain-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.logo {
  width: 50px;
  height: 50px;
  text-align: center;
}
.delete-logo {
  width: 25px;
  height: 25px;
}
.title-domain {
  color: #475569;
  font-family: roboto;
  font-size: 18px;
  font-weight: 500;
}
.domain {
  color: #64748b;
}
.time {
  color: #64748b;
  font-size: 18px;
  font-weight: 500;
  font-family: roboto;
}
@media screen and(min-width:768px) {
  .list-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
    height: auto;
    padding: 9px;
  }
  .domain-title-container {
    flex-direction: row;
  }
}
